<html>
<head>
  <meta charset="UTF-8"/>
  <style>
    h5 {
      text-align: center;
      margin: 0;
      font-size: 15px;
    }

    p {
      color: grey;
      text-align: justify;
      font-size: 8px;
      margin-left: 65px;
      margin-right: 65px;
    }

    .right {
      float: right;
    }
  </style>
  <script>
      function number_pages() {
          var vars = {};
          var x = document.location.search.substring(1).split('&');
          for (var i in x) {
              var z = x[i].split('=', 2);
              vars[z[0]] = decodeURIComponent(z[1]);
          }
          var x = ['frompage', 'topage', 'page', 'webpage', 'section', 'subsection', 'subsubsection'];
          for (var i in x) {
              var y = document.getElementsByClassName(x[i]);
              for (var j = 0; j < y.length; ++j) y[j].textContent = vars[x[i]];
          }
      }
  </script>
</head>
<body onload="number_pages()">
<section id="notes">
  <hr>
  <table style="width:100%;font-size: 12px">
    <tr>
      <td style="width:33.3%">
        <h5 style="text-align:left">
          <span class="page"></span>/<span class="topage"></span>
        </h5>
      </td>
      <td style="width:33.3%">
        <div style="text-align:center">
          RPM LIEGE
          </br>
          TVA : BE 08110.007.903
        </div>
      </td>
      <td style="width:33.3%">
        <div style="text-align:right">
          IBAN BE47 0015 7715 0480         </br>
          BIC GEBABEBB
        </div>
      </td>
    </tr>
  </table>
</section>
</body>
</html>