<%= image_tag("azshara.png") %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="timer timerPurple">
  <h2>
    <Purple>
      <time>00:00:00</time>
    </Purple>
  </h2>
  <button class="ui icon mini button" id="startPurple">
    <i class="play icon"></i>
  </button>
  <button class="ui icon mini button" id="stopPurple">
    <i class="pause icon"></i>
  </button>
  <button class="ui icon mini button" id="clearPurple">
    <i class="undo icon"></i>
  </button>
</div>

<div class="timer timerGreen">
  <h2>
    <Green>
      <time>00:00:00</time>
    </Green>
  </h2>
  <button class="ui icon mini button" id="startGreen">
    <i class="play icon"></i>
  </button>
  <button class="ui icon mini button" id="stopGreen">
    <i class="pause icon"></i>
  </button>
  <button class="ui icon mini button" id="clearGreen">
    <i class="undo icon"></i>
  </button>
</div>

<div class="timer timerWhite">
  <h2>
    <White>
      <time>00:00:00</time>
    </White>
  </h2>
  <button class="ui icon mini button" id="startWhite">
    <i class="play icon"></i>
  </button>
  <button class="ui icon mini button" id="stopWhite">
    <i class="pause icon"></i>
  </button>
  <button class="ui icon mini button" id="clearWhite">
    <i class="undo icon"></i>
  </button>
</div>

<div class="timer timerRed">
  <h2>
    <Red>
      <time>00:00:00</time>
    </Red>
  </h2>
  <button class="ui icon mini button" id="startRed">
    <i class="play icon"></i>
  </button>
  <button class="ui icon mini button" id="stopRed">
    <i class="pause icon"></i>
  </button>
  <button class="ui icon mini button" id="clearRed">
    <i class="undo icon"></i>
  </button>
</div>

<div class="timer timerBlue">
  <h2>
    <Blue>
      <time>00:00:00</time>
    </Blue>
  </h2>
  <button class="ui icon mini button" id="startBlue">
    <i class="play icon"></i>
  </button>
  <button class="ui icon mini button" id="stopBlue">
    <i class="pause icon"></i>
  </button>
  <button class="ui icon mini button" id="clearBlue">
    <i class="undo icon"></i>
  </button>
</div>

<div class="timer timerYellow">
  <h2>
    <Yellow>
      <time>00:00:00</time>
    </Yellow>
  </h2>
  <button class="ui icon mini button" id="startYellow">
    <i class="play icon"></i>
  </button>
  <button class="ui icon mini button" id="stopYellow">
    <i class="pause icon"></i>
  </button>
  <button class="ui icon mini button" id="clearYellow">
    <i class="undo icon"></i>
  </button>
</div>

<div class="timer timerOrange">
  <h2>
    <Orange>
      <time>00:00:00</time>
    </Orange>
  </h2>
  <button class="ui icon mini button" id="startOrange">
    <i class="play icon"></i>
  </button>
  <button class="ui icon mini button" id="stopOrange">
    <i class="pause icon"></i>
  </button>
  <button class="ui icon mini button" id="clearOrange">
    <i class="undo icon"></i>
  </button>
</div>

<div class="timer timerLBlue">
  <h2>
    <LBlue>
      <time>00:00:00</time>
    </LBlue>
  </h2>
  <button class="ui icon mini button" id="startLBlue">
    <i class="play icon"></i>
  </button>
  <button class="ui icon mini button" id="stopLBlue">
    <i class="pause icon"></i>
  </button>
  <button class="ui icon mini button" id="clearLBlue">
    <i class="undo icon"></i>
  </button>
</div>

<style>
  .timerPurple {
    top: 9em;
    left: 26em;
  }

  .timerGreen {
    top: 29em;
    left: 26em;
  }

  .timerWhite {
    top: 48em;
    left: 70em;
  }

  .timerRed {
    top: 42em;
    left: 55em;
  }

  .timerBlue {
    top: 26em;
    left: 55em;
  }

  .timerYellow {
    top: 3em;
    left: 52em;
  }

  .timerOrange {
    top: 23em;
    left: 77em;
  }

  .timerLBlue {
    top: 6em;
    left: 83em;
  }

  .timer {
    text-align: center;
    position: absolute;
  }

  time, h2 {
    color: white;
    font-family: "Helvetica Neue";
    margin: 0;
  }
</style>

<script>

    //PURPLE
    colorStopwatch("Purple");
    colorStopwatch("Yellow");
    colorStopwatch("Red");
    colorStopwatch("Blue");
    colorStopwatch("Green");
    colorStopwatch("White");
    colorStopwatch("LBlue");
    colorStopwatch("Orange");



    function colorStopwatch(name) {
        let
            purple = document.getElementsByTagName(name)[0],
            startPurple = document.getElementById("start"+name),
            stopPurple = document.getElementById("stop"+name),
            clearPurple = document.getElementById("clear"+name),
            secondsPurple = 0, minutesPurple = 0, hoursPurple = 0,
            tPurple;

        function add() {
            secondsPurple++;
            if (secondsPurple >= 60) {
                secondsPurple = 0;
                minutesPurple++;
                if (minutesPurple >= 60) {
                    minutesPurple = 0;
                    hoursPurple++;
                }
            }
            purple.textContent = (hoursPurple ? (hoursPurple > 9 ? hoursPurple : "0" + hoursPurple) : "00") + ":" + (minutesPurple ? (minutesPurple > 9 ? minutesPurple : "0" + minutesPurple) : "00") + ":" + (secondsPurple > 9 ? secondsPurple : "0" + secondsPurple);
            timer();
        }

        function timer() {
            tPurple = setTimeout(add, 1000);
        }

        /* Start button */
        startPurple.onclick = timer;

        /* Stop button */
        stopPurple.onclick = function () {
            clearTimeout(tPurple);
        };

        /* Clear button */
        clearPurple.onclick = function () {
            purple.textContent = "00:00:00";
            secondsPurple = 0;
            minutesPurple = 0;
            hoursPurple = 0;
        }
    }

</script>