#project-id{"data-somedata" => "#{@project.id}"}
#project-customer-id{"data-somedata" => "#{@project.customer.id}"}
#project-no-vat{"data-somedata" => "#{@project.no_vat}"}
#customer-rate{"data-somedata" => "#{@project.customer.customer_rate}"}
%div
  .project-content
    .ui.left.rail
      .ui
        .ui.cards.card-content
          =render 'card_content'
    .partial-content
      =render 'project_content'
#modal-window.ui.long.modal{style:"z-index:1002"}
  .content
#expand.ui.long.modal{style:"z-index:1001"}
  .expand