@import "semantic-ui";

body {
  color: black !important;
}

.pdf {
  line-height: 1.7rem;
  min-height: 100%;

  table {
    width: 100%;
  }

  .head {
    font-size: 1.4rem;
    margin-bottom: 3em;

    .company-infos {
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-align: justify;

      img {
        margin: auto;
        position: relative;
      }

      .normal-logo {
        img{
          height: 100px;
        }
      }
      .ago-logo {
        img{
          width: 300px;
        }
      }

      .invoice-date {
        vertical-align: top;
        text-align: right;
      }

      .invoice-report-details {
        h1 {
          background-color: #21ba45;
          color: white;
          width: 22rem;
          text-align: center;
        }

        vertical-align: bottom;
        width: 50%
      }

      .invoice-report-company {
        b {
          font-size: 1.7rem
        }
      }
    }

    .second-row {

      .invoice-number {
        width: 300px;
        vertical-align: bottom;
        text-align: center;

        .invoice-header {
          margin-top: 1rem;
          background-color: #f2711c;
          color: white;
        }

        .quotation-header {
          margin-top: 1rem;
          background-color: #2185d0;
          color: white;
        }
      }
    }
    .customer-infos {
      font-size: 1.4rem;
      position: absolute;
      left: 400px;
      top: 120px;
      max-width: 350px;
    }
  }

  .content {
    line-height: 0.93rem;

    h4 {
      margin-top: 0.8em;
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: 0.4rem;
    }

    .project-header {
      max-width: 40%;
      text-align: center;
      background-color: #2185d0;
      color: white;
    }

    .project-comment{
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .comment-line {
      font-size: 0.9em;

      p {
        padding: 0.6em;
      }
    }

    .project-total {
      margin-top: 1em;
      text-align: right;
      border: none;
      table, tbody, tr, td {
        border: none;
      }
    }

    .tva-table {
      width: 50%;
    }

    .total-cell {
      width: 100% !important;
    }

    .total-table {

      margin-top: 1em;
      font-size: 1.25em;
      line-height: 1.2em;
      border: none;
      float: right;

      table, tbody, tr, td {
        border: none;
        text-align: right;
      }

      .ttc-total {
        .ttc-cell {
          font-weight: bold !important;
          color: white;
        }
      }
    }

    .payment-notes {
      position: absolute;
      width: 100%;
      font-size: 0.7rem;
      p {
        text-align: center;
      }
      h4 {
        font-size: 0.9rem;
        text-align: center;
      }
    }

    .top-notes {
      top: 1175px;
    }

    .bottom-notes {
      bottom: 10px;
    }

    .ui.table > thead > tr:first-child > th:first-child, .ui.table {
      border-radius: 0;
    }

    .ui.table > thead:first-child, .ui.table > tfoot {
      line-height: 0.5rem;
    }

    .ui.stripped.table {
      border-top: 0.2em solid #1B1C1D;
    }

    .cg {
      font-size: 0.85rem;
    }

    .avoidbreak {
      break-inside: avoid;
      page-break-inside: avoid;
    }

    .page-break {
      display: block;
      clear: both;
      page-break-after: always;
    }
  }

  /* Use .unstackable to remove table auto-stacking behavior!  Issue #947. */
  .ui.unstackable {
    &.table {
      display: table;

      thead {
        display: table-header-group;
      }

      tbody {
        display: table-row-group;
      }

      tfoot {
        display: table-footer-group;
      }

      tr {
        display: table-row;
      }

      td:first-child {
        //font-weight: normal;
      }

      tr > td {
        display: table-cell;
        padding: 0.4em 0.7em;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }
    }

    &.celled.table {
      th, td {
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
      }

      &.segment {
        th:first-child, td:first-child {
          border-left: none !important;
        }

        th:last-child, td:last-child {
          border-right: none !important;
        }

        > * {
          &:first-child > tr:first-child > {
            th, td {
              border-top: none !important;
            }
          }

          &:last-child > tr:last-child > {
            th, td {
              border-bottom: none !important;
            }
          }
        }
      }
    }
  }
}

.invoice .ttc-cell {
  background-color: #f2711c;
}

.quote .ttc-cell {
  background-color: #2185d0;
}

.label {
  b {
    font-size: 1.4em;
  }
  i {
    font-size: 1.2em;
  }
  table {
    margin-top: 0.6em;
    border: 1px solid black;
    width: 90%;
  }
  .project-id {
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    position: absolute;
    font-size: 1.3em;
    transform: rotate(-180deg);
    right: 0.2em;
  }
  img {
    position: absolute;
    right: 2.5em;
    top: 0;
  }
}