@import "semantic-ui";

.pdf {
  line-height: 1.7rem;
  min-height: 100%;

  table {
    width: 100%;
  }

  .header {
    font-size: 1.4rem;

    .company-infos {
      font-size: 1.2rem;
      line-height: 1.5rem;
      text-align: justify;

      img {
        margin: auto;
        height: 100px;
        position: relative;
      }

      .invoice-date {
        vertical-align: middle;
        text-align: right;
      }

      .invoice-report-details {
        h1 {
          background-color: #21ba45;
          color: white;
          width: 22rem;
          text-align: center;
        }

        vertical-align: bottom;
        width: 50%
      }

      .invoice-report-company {
        b {
          font-size: 1.7rem
        }
      }
    }

    .second-row {

      .invoice-number {
        width: 40%;
        vertical-align: bottom;
        text-align: center;

        .invoice-header {
          margin-top: 1rem;
          background-color: #f2711c;
          color: white;
        }

        .quotation-header {
          background-color: #2185d0;
          color: white;
        }
      }
    }
  }

  .customer-infos {
    font-size: 1.4rem;
    position: absolute;
    left: 400px;
    top: 165px;
  }

  .content {
    margin-top: 4rem;
    line-height: 0.93rem;

    h4 {
      margin: 0.4rem 0;
    }

    h3 {
      margin-bottom: 0.4rem;
    }

    .project-header {
      max-width: 40%;
      text-align: center;
      background-color: #2185d0;
      color: white;
    }

    .project-comment{
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .total-table, .total-table > tbody > tr > td {
      line-height: 1.3rem;
      border: none;
      font-size: 1.2rem;
      text-align: right;
    }

    .total-table {
      width: 17rem;
      float: right;
    }

    .tva-table {
      //border: none;
    }

    .payment-notes {
      text-align: justify;
      position: absolute;
      width: 100%;
      font-size: 0.7rem;

      h4 {
        font-size: 0.9rem;
        text-align: center;
      }
    }

    .top-notes {
      top: 1150px;
    }

    .bottom-notes {
      bottom: 10px;
    }

    .far-bottom-notes {
      top: 2375px;
    }

    .very-far-bottom-notes {
      top: 3600px;
    }

    .ttc-total {
      td {
        background-color: #DB2828;
        font-weight: bold !important;
        color: white;
      }
    }

    .ui.table > thead > tr:first-child > th:first-child, .ui.table {
      border-radius: 0;
    }

    .ui.table > thead:first-child, .ui.table > tfoot {
      line-height: 0.5rem;
    }

    .ui.stripped.table {
      border-top: 0.2em solid #1B1C1D;
    }

    .cg {
      font-size: 0.85rem;
    }

    .avoidbreak {
      break-inside: avoid;
      page-break-inside: avoid;
    }

    .page-break {
      display: block;
      clear: both;
      page-break-after: always;
    }
  }

  /* Use .unstackable to remove table auto-stacking behavior!  Issue #947. */
  .ui.unstackable {
    &.table {
      display: table;

      thead {
        display: table-header-group;
      }

      tbody {
        display: table-row-group;
      }

      tfoot {
        display: table-footer-group;
      }

      tr {
        display: table-row;
      }

      td:first-child {
        //font-weight: normal;
      }

      tr > td {
        width: auto !important;
        display: table-cell;
        padding: 0.4em 0.7em;
        box-shadow: none !important;
        -webkit-box-shadow: none !important;
      }
    }

    &.celled.table {
      th, td {
        border: 1px solid rgba(0, 0, 0, 0.1) !important;
      }

      &.segment {
        th:first-child, td:first-child {
          border-left: none !important;
        }

        th:last-child, td:last-child {
          border-right: none !important;
        }

        > * {
          &:first-child > tr:first-child > {
            th, td {
              border-top: none !important;
            }
          }

          &:last-child > tr:last-child > {
            th, td {
              border-bottom: none !important;
            }
          }
        }
      }
    }
  }
}