.project-content
  .ui.left.rail{style: ""}
    .ui
      .ui.cards.card-content
        =render 'card_content'
  .partial-content
    =render 'machine_content'
#controller{controller:"machines"}
#modal-window.ui.long.modal{style:"z-index:1002"}
  .content
#expand.ui.long.modal{style:"z-index:1001"}
  .expand